---
import SearchPage from '@components/SearchPage.svelte'
import I18nKey from '@i18n/i18nKey'
import { DEFAULT_LOCALE, SUPPORTED_LOCALES, i18n } from '@i18n/translation'
import MainGridLayout from '@layouts/MainGridLayout.astro'

export async function getStaticPaths() {
  return SUPPORTED_LOCALES.filter(lang => lang !== DEFAULT_LOCALE).map(
    lang => ({
      params: { lang },
    }),
  )
}

const { lang } = Astro.params
---
<MainGridLayout title={i18n(I18nKey.search, lang)} lang={lang}>
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-6 md:px-9 py-6 relative w-full">
            <SearchPage client:only="svelte" />
        </div>
    </div>
</MainGridLayout>
